/* determina telas com largura entre 391 a 428 px */
@media (max-width:428px) {
    .pagina {
        font-size: 1.6rem;
        line-height: 1.8rem;
        max-width: 414px;
    }

    #quadro1 {
        width: 100vw;
        max-width: 414px;
    }
    #quadro2 {
        width: 100vw;
        max-width: 414px;
    }
    #quadro4 {
        width: 100vw;
        max-width: 414px;
    }

    #perfil {
        width: 108px;
        object-fit: cover;
        object-position: -135px 0;
    }

    #texto-perfil {
        padding: 1% 4% 0 3%;
    }

    #quadro3 {
        position: relative;
    }

    h3 {
        font-size: 1.6rem;
    }
    h4{
        font-size: 1.7rem;
        margin-bottom: 1%;
    }
    .tooltip .tooltip1 {
        left: 35%;
        bottom: 48%;
        width: 250px;
    }
    .tooltip .tooltip2 {
        left: 29%;
        bottom: 38%;
        width: 250px;
    }
    .tooltip .tooltip3 {
        left: 29%;
        bottom: 17%;
        width: 270px;
    }
    .tooltip .tooltip4 {
        left: 4%;
        bottom: 46%;
        width: 279px;
    }
    .tooltip .tooltip5 {
        left: 17%;
        bottom: 31%;
        width: 265px;
    }
    .tooltip .tooltip6 {
        left: 10%;
        bottom: 22%;
        width: 330px;
    }
}
/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas com largura de 376 até 390px */
@media (max-width:390px) {
    .pagina {
        font-size: 1.4rem;
        line-height: 1.6rem;
        max-width: 384px;
    }
    #quadro1 {
        width: 100%;
    }
    #perfil {
        width: 96px;
        object-position: -118px 0;
    }

    #texto-perfil {
        padding: 2% 4% 0 3%;
    }
    h4{
        font-size: 1.7rem;
    }
    hr {
        border-color: rgb(70, 7, 3);
        border-width: 2px;
        box-shadow: 2px 2px 2px rgb(78, 95, 95);
        margin: 1% auto;
    }
    #quadro3 {
        grid-template-rows: 1fr 1.5fr;
    }

    .tooltip .tooltip1 {
        left: 38%;
        bottom: 43%;
        width: 220px;
    }
    .tooltip .tooltip2 {
        left: 34%;
        bottom: 38%;
        width: 220px;
    }
    .tooltip .tooltip3 {
        left: 29%;
        bottom: 18%;
        width: 250px;
    }
    .tooltip .tooltip4 {
        left: 4%;
        bottom: 45%;
        width: 250px;
    }
    .tooltip .tooltip5 {
        left: 19%;
        bottom: 29%;
        width: 232px;
    }
    .tooltip .tooltip6 {
        left: 5%;
        bottom: 19%;
        width: 250px;
    }
}
/* determina telas com largura de 361 até 375px */
@media (max-width:375px) {
    .pagina {
        font-size: 1.5rem;
        line-height: 1.8rem;
    }
    #perfil {
        width: 330%;
        object-position: -137px 0;
    }
    .tooltip .tooltip1 {
        left: 37%;
        bottom: 46%;
    }
    .tooltip .tooltip2 {
        left: 23%;
        bottom: 35%;
        width: 240px;
    }
    .tooltip .tooltip3 {
        bottom: 18%;
    }
    .tooltip .tooltip4 {
        bottom: 43%;
        width: 261px;
    }
    .tooltip .tooltip5 {
        left: 5%;
        bottom: 26%;
        width: 305px;
    }
    .tooltip .tooltip6 {
        bottom: 16%;
        width: 310px;
    }
}
/* determina telas com largura até 360px */
@media (max-width:360px) {
    #perfil {
        width: 362%;
        object-position: -148px 0;
    }
    .tooltip .tooltip1 {
        left: 35%;
        bottom: 48%;
    }
    .tooltip .tooltip2 {
        bottom: 39%;
    }
    .tooltip .tooltip3 {
        left: 25%;
        bottom: 17%;
    }
    .tooltip .tooltip4 {
        left: 3%;
        bottom: 42%;
    }
    .tooltip .tooltip5 {
        left: 7%;
        bottom: 29%;
    }
    .tooltip .tooltip6 {
        left: 7%;
        bottom: 20%;
    }
}
/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas em landscape com altura entre 391 a 428 px */
@media (orientation: landscape) and (max-height: 428px) {

    .pagina {
        font-size: 1.9rem;
        line-height: 2.6rem;
        margin: 0 auto;
        max-width: 883px;
    }
    #quadro1 {
        height: 100vh;
    }
    h3 {
        font-size: 1.9rem;
    }
    #perfil {
        width: 395%;
        object-fit: cover;
    }
    #texto-perfil {
        padding: 2% 5% 0 2%;
    }
    h4{
        font-size: 2.9rem;
        margin: 2% auto;
    }
    hr {
        margin: 2% auto;
    }
    #quadro2 {
        height: 100vh;
    }
    #imgQ2 {
        width: 90%;
        position: absolute;
        bottom: 0;
        right: 0;
    }
    #quadro3 {
        display: table-cell;
        vertical-align: middle;
        line-height: 2.7rem;
        height: 100vh;
    }
    #quadro4 {
        padding: 7% 5%;
        line-height: 3rem;
        height: 100vh;
    }
    #imgQ5 {
        height: 100vh;
        object-position: 0;
    }
    .tooltip {
        position: relative;
    }
    .tooltip .tooltip1 {
        left: 0;
        bottom: -274%;
        width: 275px;
    }
    .tooltip .tooltip2 {
        left: -342%;
        bottom: -344%;
        width: 250px;
    }
    .tooltip .tooltip3 {
        left: 0%;
        bottom: 112%;
        width: 325px;
    }
    .tooltip .tooltip4 {
        left: 0%;
        bottom: -280%;
        width: 330px;
    }
    .tooltip .tooltip5 {
        left: -305%;
        bottom: 116%;
        width: 320px;
    }
    .tooltip .tooltip6 {
        left: -485%;
        bottom: 124%;
        width: 400px;
    }
    
    #opcoes {
        height: 100vh;
    }
}

/* _____________________________________&&&&&&&&&&&&______________________________________ */
/* determina telas em LANDSCAPE com altura de 376 a 390px */
@media (orientation: landscape) and (max-height: 390px) {

    .pagina {
        max-width: 845px;
    }
    hr {
        border-width: 3px;
        box-shadow: 4px 4px 2px rgb(78, 95, 95);
    }
    #perfil {
        width: 341%;
    }
    #texto-perfil {
        padding: 2% 4%;
        line-height: 2.4rem;      
    }
    #caixa-texto-quadro2 {
        line-height: 2.4rem; 
    }
    #imgQ2 {
        width: 85%;
    }
    #quadro3 {
        line-height: 2.5rem;
    }
    #quadro4 {
        padding: 4% 5%;
        line-height: 2.8rem;
    }

    #opcoes {
        height: 100vh;
    }

    .tooltip .tooltip1 {
        bottom: 129%;
    }
    .tooltip .tooltip2 {
        bottom: -380%;
    }
    .tooltip .tooltip3 {
        bottom: 123%;
    }
    .tooltip .tooltip4 {
        bottom: -320%;
    }
    .tooltip .tooltip5 {
        left: 0;
        bottom: 122%;
    }
    .tooltip .tooltip6 {
        left: 0;
    }
}
/* _____________________________________&&&&&&&&&&&&______________________________________ */
/* determina telas em LANDSCAPE com altura de até 375 px */
@media (orientation: landscape) and (max-height: 375px) {
    .pagina {
        max-width: 667px;
        font-size: 1.7rem;
    }
    h4 {
        font-size: 2.7rem;
    }
    hr {
        border-width: 2px;
        box-shadow: 2px 4px 2px rgb(78, 95, 95);
    }
    #perfil {
        width: 341%;
    }
    #texto-perfil {
        padding: 1% 4%;
        line-height: 2.3rem;      
    }
    #imgQ2 {
        width: 95%;
    }
    #quadro3 {
        line-height: 2.4rem;
    }
    #quadro4 {
        padding: 3% 5%;
        line-height: 2.7rem;
    }

    .tooltip .tooltip1 {
        bottom: -293%;
    }
    .tooltip .tooltip2 {
        left: -5%;
    }
    .tooltip .tooltip4 {
        left: -69%;
        bottom: -286%;
    }
    .tooltip .tooltip6 {
        left: -358px;
        width: 420px;
    } 
  }
/* _____________________________________&&&&&&&&&&&&______________________________________ */
/* determina telas em LANDSCAPE com altura de até 360 px */
@media (orientation: landscape) and (max-height: 360px) {
    .pagina {
        max-width: 640px;
    }
    h4 {
        font-size: 2.6rem;
        margin: 1% auto;
    }
    hr {
        margin: 1% auto 2% auto;
        border-width: 2px;
        box-shadow: 2px 4px 2px rgb(78, 95, 95);
    }
    #perfil {
        width: 347%;
        object-position: -70px 0;
    }
    #texto-perfil {
        padding: 1% 4% 0 2%;
        line-height: 2.3rem;      
    }
    #quadro3 {
        line-height: 2.2rem;
    }
    #quadro4 {
        line-height: 2.5rem;
    }
    .tooltip .tooltip5 {
        left: -311%;
    }
    .tooltip .tooltip6 {
        left: 0;
    }     
  }