/* determina telas com largura entre 391 a 428 px */
@media (max-width:428px) {
    .pagina {
        font-size: 1.6rem;
        line-height: 1.8rem;
        max-width: 414px;
    }

    #perfil {
        width: 47%;
        object-fit: cover;
    }

    #texto-perfil {
        padding: 2% 4% 0 3%;
        width: 100%;
    }
    h4 {
        font-size: 2.6rem;
    }
    hr {
        border-width: 2px;
    }
    #caixa-quadro2 {
        padding: 1% 4% 0 4%;
        line-height: 2rem;
    }
    #caixa-quadro3 {
        padding: 0% 5% 0 4%;
        line-height: 2rem;
    }
    #caixa-quadro4 {
        padding: 1% 4% 0 4%;
        line-height: 2rem;
    }

    h3 {
        font-size: 1.6rem;
    }

    .tooltip .tooltip1 {
        left: 72px;
        bottom: 90px;
        width: 270px;
        line-height: 18px;
    }
    .tooltip .tooltip2 {
        left: 76px;
        bottom: 222px;
        width: 270px;
        line-height: 18px;
    }
}
/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas com largura de 376 até 390px */
@media (max-width:390px) {
    .pagina {
        font-size: 1.4rem;
        line-height: 1.7rem;
        max-width: 384px;
    }

    #perfil {
        width: 41%;
    }
    #texto-perfil {
        padding: 2% 4% 0 3%;
    }
    h4 {
        font-size: 2.5rem;
    }
    #caixa-quadro2 {
        padding: 1% 3% 0 3%;
        line-height: 1.9rem;
    }
    #caixa-quadro3 {
        padding: 1% 4% 0 4%;
        line-height: 1.9rem;
    }
    #caixa-quadro4 {
        padding: 1% 3% 0 4%;
        line-height: 1.9rem;
    }
    #quadro5 {
        padding: 1% 4%;
        line-height: 1.9rem;
    }
    .tooltip .tooltip1 {
        left: 110px;
        bottom: 65px;
        width: 230px;
    }
    .tooltip .tooltip2 {
        left: 60px;
        bottom: 203px;
        width: 235px;
    }
}
/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas com largura de 361 até 375px */
@media (max-width:375px) {
    #perfil {
        width: 38%;
    }
    #caixa-quadro2 {
        padding: 1% 4% 0 4%;
        line-height: 1.7rem;
    }
    #caixa-quadro3 {
        line-height: 1.7rem;
    }
    #caixa-quadro4 {
        padding: 1% 4% 0 4%;
        line-height: 1.7rem;
    }
    #imgQ4 {
        width: 110%;
    }
    #quadro5 {
        line-height: 1.7rem;
    }
    .tooltip .tooltip1 {
        left: 127px;
        bottom: 67px;
    }
    .tooltip .tooltip2 {
        left: 116px;
        bottom: 190px;
        width: 240px;
    }
}
/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas com largura até 360px */
@media (max-width:360px) {
    #perfil {
        width: 32%;
    }
    .tooltip .tooltip1 {
        left: 118px;
    }
    .tooltip .tooltip2 {
        left: 62px;
    }
}

/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas em landscape com altura entre 391 a 428 px */
@media (orientation: landscape) and (max-height: 428px) {

    .pagina {
        font-size: 1.9rem;
        line-height: 2.6rem;
        margin: 0 auto;
        max-width: 883px;
    }
    h3 {
        font-size: 1.9rem;
    }

    #quadro1 {
        height: 100vh;
    }
    #perfil {
        width: 320%;
    }
    h4 {
        font-size: 3.9rem;
    }
    hr {
        box-shadow: 3px 4px 2px rgb(78, 95, 95);
        margin: 3% auto;
    }
    #texto-perfil {
        padding: 6% 5%;
        line-height: 2.5rem;
    }
    #quadro2 {
        height: 100vh;
    }
    #caixa-quadro2 {
        padding: 1% 4% 1% 4%;
    }
    #imgQ2 {
        object-fit: cover;
        position: absolute;
        bottom: 0;
    }
    #quadro3 {
        height: 100vh;
    }
    #quadro4 {
        height: 100vh;
    }
    #imgQ4 {
        width: 91%;
        position: absolute;
        bottom: 0;
    }
    #quadro5 {
        height: 100vh;
        display: table-cell;
        vertical-align: middle;
        padding: 0 4% 0 5%;
        line-height: 2.8rem;
    }
    #opcoes {
        height: 100vh;
    }
    .tooltip .tooltip1 {
        left: 163px;
        bottom: 30px;
    }
    .tooltip .tooltip2 {
        left: 21%;
        bottom: 48%;
    }
}
/* _____________________________________&&&&&&&&&&&&______________________________________ */
/* determina telas em LANDSCAPE com altura de 376 a 390px */
@media (orientation: landscape) and (max-height: 390px) {
    .pagina {
        max-width: 845px;
    }
    #perfil {
        width: 253%;
        object-fit: cover;
    }
    #texto-perfil {
        padding: 4% 5%;
    }
    #caixa-quadro2 {
        line-height: 2.3rem;
    }
    #imgQ2 {
        object-position: 0px 12px;
    }
    #imgQ3 {
        position: absolute;
        bottom: 3px;
    }
    #caixa-quadro3 {
        padding: 1% 3% 0 4%;
        line-height: 2.3rem;
    }
    #caixa-quadro4 {
        padding: 1% 4% 0 5%;
        line-height: 2.3rem;
    }
    #imgQ4 {
        width: 87%;
    }
    .tooltip .tooltip1 {
        left: 163px;
        bottom: 21px;
    }
    .tooltip .tooltip2 {
        left: 20%;
        bottom: 52%;
    }
}
/* _____________________________________&&&&&&&&&&&&______________________________________ */
/* determina telas em LANDSCAPE com altura de até 375 px */
@media (orientation: landscape) and (max-height: 375px) {
    .pagina {
        max-width: 667px;
        font-size: 1.7rem;
    }
    #perfil {
        width: 383%;
    }
    #texto-perfil {
        padding: 3% 5%;
        line-height: 2.4rem;
    }
    h4 {
        font-size: 3.5rem;
    }
    #caixa-quadro2 {
        padding: 2% 6% 0 4%;
        line-height: 2.7rem;
    }
    #imgQ2 {
        object-position: 0 0;
    }
    #caixa-quadro3 {
        padding: 1% 4% 0 4%;
        line-height: 2.1rem;
    }
    #imgQ3 {
        position: absolute;
        bottom: 13px;
    }
    #imgQ4 {
        width: 100%;
    }
    #quadro5 {
        padding: 0 5%;
        line-height: 2.3rem;
    }
    .tooltip .tooltip1 {
        left: 142px;
        bottom: 34px;
    }
    .tooltip .tooltip2 {
        left: 43%;
        bottom: 54%;
    }
}
/* _____________________________________&&&&&&&&&&&&______________________________________ */
/* determina telas em landscape com altura de até 360 px */
@media (orientation: landscape) and (max-height: 360px) {
    .pagina {
        font-size: 1.8rem;
        line-height: 2.4rem;
        max-width: 640px;
    }
    #texto-perfil {
        padding: 3% 4% 0 2%;
        line-height: 2.2rem;
    }
    h4 {
        font-size: 3rem;
    }
    hr {
        margin: 2% auto;
    }
    #caixa-quadro2 {
        padding: 1% 4% 0 3%;
        line-height: 2.1rem;
    }
    #caixa-quadro3 {
        line-height: 2rem;
    }
    #imgQ3 {
        bottom: 5px;
    }
    #caixa-quadro4 {
        padding: 1% 4% 0 5%;
        line-height: 2.2rem;
    }
    #quadro5 {
        line-height: 2.2rem;
    }
    .tooltip .tooltip1 {
        left: 153px;
        bottom: 47px;
    }
    .tooltip .tooltip2 {
        left: 14%;
        bottom: 49%;
    }
}