/* determina telas com largura entre 391 a 428 px */
@media (max-width:428px) {
    .pagina {
        font-size: 1.6rem;
        line-height: 1.8rem;
        max-width: 414px;
    }

    #quadro1 {
        width: 100vw;
        line-height: 1.7rem;
    }

    #perfil {
        width: 52%;
        object-fit: cover;
    }
    #texto-perfil {
        padding: 2% 4% 0 3%;
        width: 100%;
    }

    h3 {
        font-size: 1.6rem;
    }
    .tooltip {
        position: relative;
    }
    .tooltip .tooltip1 {
        left: -3px;
        bottom: -91px;
        width: 250px;
    }
    .tooltip .tooltip2 {
        left: -69px;
        bottom: 27px;
        width: 200px;
    }
    .tooltip .tooltip3 {
        left: -4px;
        bottom: 28px;
        width: 260px;
        line-height: 17px;
    }
    .tooltip .tooltip4 {
        left: -95px;
        bottom: 28px;
        width: 150px;
        line-height: 17px;
    }
}

/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas com largura de 376 até 390px */
@media (max-width:390px) {
    .pagina {
        font-size: 1.4rem;
        line-height: 1.6rem;
        max-width: 384px;
    }

    #quadro1 {
        width: 100%;
    }

    #quadro3 {
        grid-template-rows: 1fr 1.5fr;
    }

    #perfil {
        width: 47%;
    }

    #texto-perfil {
        padding: 2% 4% 0 3%;
        width: 100%;
    }

    h3 {
        font-size: 1.6rem;
    }

    .tooltip .tooltip1 {
        left: -96px;
        bottom: -87px;
        width: 227px;
    }
    .tooltip .tooltip2 {
        left: 0;
        bottom: 26px;
        width: 185px;
    }
    .tooltip .tooltip3 {
        left: -159px;
        bottom: 27px;
        width: 250px;
    }
    .tooltip .tooltip4 {
        left: 0;
        bottom: 26px;
        width: 200px;
    }
}
/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas com largura de 361px até 375px */
@media (max-width:375px) {
    #perfil {
        width: 52%;
    }
    #texto-perfil {
        padding: 2% 6% 0 4%;
    }
    .tooltip .tooltip1 {
        left: -8px;
    }
    }
/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas com largura até 360px */
@media (max-width:360px) {
    #perfil {
        width: 48%;
    }
    #texto-perfil {
        padding: 2% 5% 0 4%;
    }
    .tooltip .tooltip1 {
        left: -10px;
    }
    .tooltip .tooltip2 {
        left: -117px;
    }
    .tooltip .tooltip3 {
        left: -60px;
    }
    .tooltip .tooltip4 {
        left: -86px;
    }
}
/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas em landscape com altura entre 376 a 428 px */
@media (orientation: landscape) and (max-height: 428px) {

    .pagina {
        font-size: 1.9rem;
        margin: 0 auto;
        max-width: 883px;
    }

    #quadro1 {
        height: 100vh;
    }

    h3 {
        font-size: 1.9rem;
    }

    #perfil {
        width: 290%;
    }

    #texto-perfil {
        padding: 10% 5%;
        line-height: 2.9rem;
    }

    #quadro2 {
        padding: 8% 6%;
        line-height: 3rem;
        height: 100vh;
    }
    #quadro3 {
        display: table-cell;
        vertical-align: middle;
        padding: 0 6%;
        line-height: 2.7rem;
        height: 100vh;
    }
    .tooltip {
        position: relative;
    }
    .tooltip .tooltip1 {
        left: -3px;
        bottom: 35px;
    }
    .tooltip .tooltip2 {
        left: -211%;
        bottom: 113%;
    }
    .tooltip .tooltip3 {
        left: -1%;
        bottom: 127%;
    }
    .tooltip .tooltip4 {
        left: -213%;
        bottom: 125%;
    }
    #opcoes {
        height: 100vh;
    }
}
/* ________________________________________&&&&&&&&&&&&___________________________________ */
/* determina telas em LANDSCAPE com altura de 376 a 390px */
@media (orientation: landscape) and (max-height: 390px) {
    .pagina {
        max-width: 845px;
    }
    #perfil {
        width: 289%;
    }
    #texto-perfil {
        padding: 7% 5%;
        line-height: 2.9rem;
    }
    .tooltip .tooltip2 {
        left: -10%;
    }
    .tooltip .tooltip4 {
        left: -4%;
    }
}
/* _____________________________________&&&&&&&&&&&&______________________________________ */
/* determina telas em landscape com altura de 361 até 375 px */
@media (orientation: landscape) and (max-height: 375px) {
    .pagina {
        max-width: 667px;
        font-size: 1.7rem;
    }
    #perfil {
        width: 400%;
    }
    #texto-perfil {
        padding: 4% 5%;
    }
    #quadro2 {
        padding: 5% 6%;
        line-height: 2.8rem;
    }
    #quadro3 {
        line-height: 2.4rem;
    }
    .tooltip .tooltip1 {
        left: -260px;
    }
}
/* _____________________________________&&&&&&&&&&&&______________________________________ */
/* determina telas em LANDSCAPE com altura de até 360 px */
@media (orientation: landscape) and (max-height: 360px) {
    .pagina {
        max-width: 640px;
    }
    #texto-perfil {
        padding: 4% 5%;
        line-height: 2.6rem;
    }
    #quadro2 {
        padding: 4% 6%;
    }
    #quadro3 {
        padding: 0 4% 0 5%;
    }
    .tooltip .tooltip1 {
        left: -89px;
    }
}