* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    font-size: 62.5%;
}

body {
    background-color: black;
}

.pagina {
    background-image: url("../imagens/superficie-de-embalagem-de-cartao-liso-bege.jpg");
    background-color: rgb(160, 139, 114);
    background-size: cover;
    box-sizing: border-box;
    max-width: 800px;
    font-family: "Palatino Lynotype";
    font-size: 2.0rem;
    line-height: 1.4em;
    font-style: italic;
    color: rgb(54, 49, 34);
    margin: 0 auto;
}

h3 {
    font-size: 2.0rem;
    color: brown;
    display: inline;
}

#perfil{
    width: 170%;
}
#texto-perfil{
    padding: 3% 5%;
    text-align: justify;
    text-justify: inter-word;
}
#quadro1 {
    display: flex;
    position: relative;
    scroll-snap-align: start;
}
#quadro2 {
    position: relative;
    padding: 2% 5% 0 5%;
    text-align: justify;
    text-justify: inter-word;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
#quadro3 {
    position: relative;
    padding: 2% 5%;
    text-align: justify;
    text-justify: inter-word;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
#tela-final {
    display: none;
}
#link {
    margin: auto;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}
#mensagem-final {
    width: 100%;
}

.tooltip {
    display: inline-block;
}
.tooltip .tooltip1 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 426px;
    bottom: 74px;
    padding: 0.5em;
    width: 330px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip1 {
    visibility: visible;
}
.tooltip .tooltip2 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 392px;
    bottom: 88px;
    padding: 0.5em;
    width: 250px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip2 {
    visibility: visible;
}
.tooltip .tooltip3 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 436px;
    bottom: 178px;
    padding: 0.5em;
    width: 320px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip3 {
    visibility: visible;
}
.tooltip .tooltip4 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 422px;
    bottom: 70px;
    padding: 0.5em;
    width: 200px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip4 {
    visibility: visible;
}
#opcoes {
    width: 90%;
    margin: auto;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
.opcao{
    width: 100%;
}
.opcaonula{
    opacity: 30%;
    bottom: -16px;
}
