* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    font-size: 62.5%;
}

body {
    background-color: black;
}

.pagina {
    background-image: url("../imagens/superficie-de-embalagem-de-cartao-liso-bege.jpg");
    background-color: rgb(200, 187, 172);
    background-size: contain;
    max-width: 800px;
    font-family: "Palatino Lynotype";
    font-size: 2.0rem;
    line-height: 1.4em;
    font-style: italic;
    color: rgb(54, 49, 34);
    margin: 0 auto;
}

h3 {
    font-size: 2.0rem;
    color: brown;
    display: inline;
}

#quadro1 {
    display: flex;
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
#perfil{
    width: 355%;
}  
#texto-perfil{
    padding: 3% 4%;
    text-align: justify;
}
h4 {
    /* título */
    font-size: 3rem;
    line-height: 2rem;
    color: rgb(54, 49, 34);
    text-align: center;
}
hr {
    border-color: rgb(70, 7, 3);
    border-width: 3px;
    box-shadow: 3px 3px 4px rgb(78, 95, 95);
    margin: 2% auto;
}

#quadro2{
    position: relative;
    padding: 3% 5%;
    text-align: justify;
    text-justify: inter-word;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
#quadro3{
    position: relative;
    padding: 3% 5%;
    text-align: justify;
    text-justify: inter-word;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
#imgQ4{
    width: 100%;
    scroll-snap-align: start;
    box-sizing: border-box;
}
#tela-final {
    display: none;
}
#link {
    margin:auto;
}

.tooltip {
    display: inline-block;
}
.tooltip .tooltip1 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 353px;
    bottom: 141px;
    padding: 0.5em;
    width: 405px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip1 {
    visibility: visible;
}
.tooltip .tooltip2 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 406px;
    bottom: 85px;
    padding: 0.5em;
    width: 350px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip2 {
    visibility: visible;
}
.tooltip .tooltip3 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 247px;
    bottom: 254px;
    padding: 0.5em;
    width: 310px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip3 {
    visibility: visible;
}
.tooltip .tooltip4 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 36px;
    bottom: 197px;
    padding: 0.5em;
    width: 360px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip4 {
    visibility: visible;
}
.tooltip .tooltip5 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 37px;
    bottom: 45px;
    padding: 0.5em;
    width: 350px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip5 {
    visibility: visible;
}
#opcoes {
    width: 90%;
    margin: auto;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
.opcao{
    width: 100%;
}
