* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    font-size: 62.5%;
}

body {
    background-color: black;
}

.pagina {
    background-image: url("../imagens/superficie-de-embalagem-de-cartao-liso-bege.jpg");
    background-color: rgb(200, 187, 172);
    background-size: contain;
    max-width: 800px;
    font-family: "Palatino Lynotype";
    font-size: 2.0rem;
    line-height: 1.4em;
    font-style: italic;
    color: rgb(54, 49, 34);
    margin: 0 auto;
}

h3 {
    font-size: 2.0rem;
    color: brown;
    display: inline;
}

#perfil{
    width: 324%;
}  
#quadro1 {
    display: flex;
    position: relative;
    scroll-snap-align: start;
    box-sizing: border-box;
}
#texto-perfil{
    padding: 3% 5% 0 2%;
    text-align: justify;
    text-justify: inter-word;
}
h4 {
    /* título */
    font-size: 3.3rem;
    line-height: 2rem;
    color: rgb(54, 49, 34);
    text-align: center;
}
hr {
    border-color: rgb(70, 7, 3);
    border-width: 3px;
    box-shadow: 3px 3px 2px rgb(78, 95, 95);
    margin: 2% auto;
    width: 100%;
}
#quadro2 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
#caixa-quadro2 {
    position: relative;
    padding: 1% 7% 0 4%;
    text-align: justify;
    line-height: 2.5rem;
}
#imgQ2 {
    width: 100%;
}
#quadro3 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
#caixa-quadro3 {
    position: relative;
    padding: 1% 5% 0 5%;
    text-align: justify;
    line-height: 2.5rem;
}
#imgQ3 {
    width: 100%;
}
#quadro4 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
#caixa-quadro4 {
    position: relative;
    padding: 1% 5% 0 5%;
    text-align: justify;
    line-height: 2.5rem;
}
#imgQ4 {
    width: 100%;
}
#quadro5 {
    position: relative;
    padding: 1% 5%;
    text-align: justify;
    text-justify: inter-word;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
#tela-final {
    display: none;
}
#link {
    margin:auto;
}

.tooltip {
    display: inline-block;
}
.tooltip .tooltip1 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 168px;
    bottom: 21px;
    padding: 0.5em;
    width: 350px;
    line-height: 20px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip1 {
    visibility: visible;
}
.tooltip .tooltip2 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 411px;
    bottom: 211px;
    padding: 0.5em;
    width: 350px;
    line-height: 20px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip2 {
    visibility: visible;
}

#opcoes {
    width: 90%;
    margin: auto;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
.opcao{
    width: 100%;
}
