* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    font-size: 62.5%;
}

body {
    background-color: black;
}

.pagina {
    background-image: url("../imagens/superficie-de-embalagem-de-cartao-liso-bege.jpg");
    background-color: rgb(200, 187, 172);
    background-size: contain;
    max-width: 800px;
    font-family: "Palatino Lynotype";
    font-size: 2.0rem;
    line-height: 1.4em;
    font-style: italic;
    color: rgb(54, 49, 34);
    margin: 0 auto;
}

h3 {
    font-size: 2.0rem;
    color: brown;
    display: inline;
}

#quadro1 {
    display: flex;
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
#perfil{
    width: 265%;
}  
#texto-perfil{
    padding: 2% 5% 0 3%;
    text-align: justify;
}
h4 {
    /* título */
    font-size: 3rem;
    line-height: 2rem;
    color: rgb(54, 49, 34);
    text-align: center;
}
hr {
    border-color: rgb(70, 7, 3);
    border-width: 3px;
    box-shadow: 3px 3px 4px rgb(78, 95, 95);
    margin: 2% auto;
}

#quadro2{
    display: flex;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
#caixa-quadro2{
    position: relative;
    padding: 2% 5% 0 2%;
    text-align: justify;
}
#imgQ2 {
    width: 283%;
}

#quadro3{
    display: grid;
    position: relative;
    grid-template-columns: 76% 24%;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
#caixa-quadro3A{
    grid-area: 1 / 1 / span 1 / span 1;
    position: relative;
    padding: 1% 0 0 6%;
    text-align: justify;
}
#caixa-quadro3B{
    grid-area: 2 / 1 / span 1 / span 1;
    position: relative;
    padding: 2% 14% 2% 12%;
    text-align: justify;
    font-weight: bold;
    line-height: 2.5rem;
}
#caixa-quadro3C{
    grid-area: 3 / 1 / span 1 / span 2;
    position: relative;
    padding: 1% 5% 0 5%;
    text-align: justify;
}
#imgQ3{
    grid-area: 1 / 2 / span 2 / span 1;
    width: 95%;
    position: absolute;
    right: 0;
}
#quadro4{
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    padding: 2% 5% 0 5%;
    text-align: justify;
}
#quadro5{
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    padding: 2% 5% 0 5%;
    text-align: justify;
}
#imgQ5 {
    width: 100%;
}
#tela-final {
    display: none;
}
#link {
    margin:auto;
}

.tooltip {
    display: inline-block;
}
.tooltip .tooltip1 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 335px;
    bottom: 81px;
    padding: 0.5em;
    width: 350px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip1 {
    visibility: visible;
}
.tooltip .tooltip2 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 412px;
    bottom: 85px;
    padding: 0.5em;
    width: 338px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip2 {
    visibility: visible;
}
.tooltip .tooltip3 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 120px;
    bottom: 100px;
    padding: 0.5em;
    width: 350px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip3 {
    visibility: visible;
}
.tooltip .tooltip4 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 215px;
    bottom: 150px;
    padding: 0.5em;
    width: 350px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip4 {
    visibility: visible;
}
.tooltip .tooltip5 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 260px;
    bottom: 160px;
    padding: 0.5em;
    width: 350px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip5 {
    visibility: visible;
}
.tooltip .tooltip6 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 270px;
    bottom: 90px;
    padding: 0.5em;
    width: 350px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip6 {
    visibility: visible;
}
#opcoes {
    width: 90%;
    margin: auto;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
.opcao{
    width: 100%;
}
