* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    font-size: 62.5%;
}

body {
    background-color: black;
}

.pagina {
    background-image: url("../imagens/pano-de-fundo.jpg");
    background-color: rgb(200, 187, 172);
    background-size: contain;
    max-width: 800px;
    font-family: "Palatino Lynotype";
    font-size: 2.0rem;
    line-height: 1.4em;
    font-style: italic;
    color: rgb(54, 49, 34);
    margin: 0 auto;
}

h3 {
    font-size: 2.0rem;
    color: brown;
    display: inline;
}

#quadro1 {
    display: flex;
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#perfil {
    width: 265%;
}

#texto-perfil {
    padding: 2% 5% 0 3%;
    text-align: justify;
}

h4 {
    /* título */
    font-size: 3rem;
    line-height: 2rem;
    color: rgb(54, 49, 34);
    text-align: center;
}

hr {
    border-color: rgb(70, 7, 3);
    border-width: 3px;
    box-shadow: 3px 3px 4px rgb(78, 95, 95);
    margin: 2% auto;
}

#quadro2 {
    display: grid;
    grid-template-columns: 32% 7% 61%;
    grid-template-rows: 123px 252px;
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}

#caixa-quadro2A {
    grid-area: 1 / 2 / span 1 / span 2;
    padding: 2% 7% 0 2%;
    text-align: justify;
}

#caixa-quadro2B {
    grid-area: 2 / 3 / span 1 / span 1;
    padding: 0 7% 0 0;
    text-align: justify;
}

#imgQ2 {
    grid-area: 1 / 1 / span 3 / span 2;
    width: 100%;
    position: absolute;
    bottom: 0;
}

#quadro3 {
    display: grid;
    position: relative;
    grid-template-columns: 76% 24%;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-quadro3A {
    grid-area: 1 / 1 / span 1 / span 1;
    position: relative;
    padding: 1% 0 0 6%;
    text-align: justify;
}

#caixa-quadro3B {
    grid-area: 2 / 1 / span 1 / span 1;
    position: relative;
    padding: 2% 14% 2% 12%;
    text-align: justify;
    font-weight: bold;
    line-height: 2.5rem;
}

#caixa-quadro3C {
    grid-area: 3 / 1 / span 1 / span 2;
    position: relative;
    padding: 1% 5% 0 5%;
    text-align: justify;
}

#imgQ3 {
    grid-area: 1 / 2 / span 2 / span 1;
    width: 95%;
    position: absolute;
    right: 0;
}

#quadro4 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    text-align: justify;
}

#caixa-quadro4 {
    padding: 1% 5% 0 5%;
}

p {
    padding: 1% 10%;
}

#quadro5 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
    padding: 2% 5% 0 5%;
    text-align: justify;
}

#imgQ5 {
    width: 100%;
}

#opcoes {
    width: 90%;
    margin: auto;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

.opcao {
    width: 100%;
}

#tela-final {
    display: none;
    scroll-snap-align: start;
}

#link {
    margin: auto;
    background-color: Transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

#mensagem-final {
    width: 100%;
}

.tooltip {
    display: inline-block;
    line-height: 20px;
}

.tooltip1 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 257px;
    bottom: 173px;
    padding: 0.5em;
    width: 350px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip1 {
    visibility: visible;
}

.tooltip2 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 354px;
    bottom: 61px;
    padding: 0.5em;
    width: 338px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip2 {
    visibility: visible;
}

.tooltip3 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 265px;
    bottom: 195px;
    padding: 0.5em;
    width: 360px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip3 {
    visibility: visible;
}

.tooltip4 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 342px;
    bottom: 160px;
    padding: 0.5em;
    width: 340px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip4 {
    visibility: visible;
}

.tooltip5 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 34px;
    bottom: 0px;
    padding: 0.5em;
    width: 385px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip5 {
    visibility: visible;
}

.tooltip6 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 427px;
    bottom: 310px;
    padding: 0.5em;
    width: 330px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip6 {
    visibility: visible;
}

.tooltip7 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 386px;
    bottom: 208px;
    padding: 0.5em;
    width: 350px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip7 {
    visibility: visible;
}

.tooltip8 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 300px;
    bottom: 64px;
    padding: 0.5em;
    width: 320px;
    line-height: 20px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip8 {
    visibility: visible;
}