* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    font-size: 62.5%;
}

body {
    background-color: black;
}

.pagina {
    background-image: url("../imagens/pano-de-fundo.jpg");
    background-color: rgb(200, 187, 172);
    background-size: contain;
    max-width: 800px;
    font-family: "Palatino Lynotype";
    font-size: 2.0rem;
    line-height: 1.4em;
    font-style: italic;
    color: rgb(54, 49, 34);
    margin: 0 auto;
}

h3 {
    font-size: 2.0rem;
    color: brown;
    display: inline;
}

#quadro1 {
    display: flex;
    position: relative;
    scroll-snap-align: start;
    box-sizing: border-box;
}

#perfil {
    width: 400%;
    object-fit: cover;
}

#texto-perfil {
    padding: 3% 5% 0 3%;
    text-align: justify;
}

h4 {
    /* título */
    font-size: 3rem;
    line-height: 2rem;
    color: rgb(54, 49, 34);
    text-align: center;
}

hr {
    border-color: rgb(70, 7, 3);
    border-width: 3px;
    box-shadow: 2px 2px 2px rgb(78, 95, 95);
    margin: 2% auto;
    width: 100%;
}

#quadro2 {
    position: relative;
    padding: 1% 5%;
    text-align: justify;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#quadro3 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    display: grid;
    grid-template-columns: 35% 65%;
}

#caixa-texto3A {
    grid-area: 1 / 1 / span 1 / span 2;
    position: relative;
    padding: 1% 5% 0 5%;
    text-align: justify;
}

#caixa-texto3B {
    grid-area: 2 / 2 / span 1 / span 1;
    position: relative;
    padding: 6% 7% 0 6%;
    text-align: justify;
}

#imgQ3 {
    grid-area: 2 / 1 / span 1 / span 1;
    width: 100%;
}

#quadro4 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto4A {
    position: relative;
    padding: 1% 5% 0 5%;
    text-align: justify;
}

#caixa-texto4B {
    position: relative;
    padding: 1% 5% 0 5%;
    text-align: justify;
}

#quadro5 {
    position: relative;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#caixa-texto5 {
    padding: 1% 5% 0 5%;
    text-align: justify;
}

#imgQ5 {
    width: 100%;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

#opcoes {
    width: 90%;
    margin: auto;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}

.opcao {
    width: 100%;
}

#tela-final {
    display: none;
    scroll-snap-align: start;
}

#link {
    margin: auto;
    background-color: Transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

#mensagem-final {
    width: 100%;
}

.tooltip {
    display: inline-block;
}

.tooltip .tooltip1 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 260px;
    bottom: 63px;
    padding: 0.5em;
    width: 350px;
    line-height: 19px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip1 {
    visibility: visible;
}

.tooltip .tooltip2 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 403px;
    bottom: 42px;
    padding: 0.5em;
    width: 350px;
    line-height: 19px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip2 {
    visibility: visible;
}

.tooltip .tooltip3 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 36px;
    bottom: -40px;
    padding: 0.5em;
    width: 430px;
    line-height: 20px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip3 {
    visibility: visible;
}

.tooltip .tooltip4 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 76px;
    bottom: 32px;
    padding: 0.5em;
    width: 300px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}

.tooltip:hover .tooltip4 {
    visibility: visible;
}