* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    font-size: 62.5%;
}

body {
    background-color: black;
}

.pagina {
    background-image: url("../imagens/superficie-de-embalagem-de-cartao-liso-bege.jpg");
    background-color: rgb(200, 187, 172);
    background-size: contain;
    max-width: 800px;
    font-family: "Palatino Lynotype";
    font-size: 2.0rem;
    line-height: 1.4em;
    font-style: italic;
    color: rgb(54, 49, 34);
    margin: 0 auto;
}

hr {
    border-color: rgb(70, 7, 3);
    border-width: 2px;
    box-shadow: 2px 2px 2px rgb(78, 95, 95);
    margin: 1% auto;
    width: 100%;
}

h3 {
    font-size: 2.0rem;
    color: brown;
    display: inline;
}

h4 {
    /* título */
    font-size: 2.7rem;
    line-height: 2rem;
    color: rgb(54, 49, 34);
    text-align: center;
}

#perfil{
    width: 483%;
}  
#texto-perfil{
    padding: 2% 4% 0 2%;
    text-align: justify;
}
#quadro1 {
    display: flex;
    position: relative;
    scroll-snap-align: start;
    box-sizing: border-box;
}
#quadro2 {
    scroll-snap-stop: always;
    scroll-snap-align: start;
    position: relative;
}
#caixa-texto-quadro2 {
    padding: 1% 4% 0 4%;
    text-align: justify;
}
#imgQ2 {
    width: 100%;
}
#quadro3{
    position: relative;
    padding: 1% 5%;
    text-align: justify;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
#quadro4{
    position: relative;
    padding: 3% 5%;
    text-align: justify;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
#imgQ5 {
    width: 100%;
    scroll-snap-align: start;
    box-sizing: border-box;
}

#tela-final {
    display: none;
}
#link {
    margin: auto;
    background-color: Transparent;
    border: none;
    cursor:pointer;
    overflow: hidden; 
}
#mensagem-final {
    width: 100%;
}

.tooltip {
    display: inline-block;
}
.tooltip .tooltip1 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 43%;
    bottom: 71%;
    padding: 0.5em;
    width: 300px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip1 {
    visibility: visible;
}
.tooltip .tooltip2 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 46%;
    bottom: 41%;
    padding: 0.5em;
    width: 335px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip2 {
    visibility: visible;
}
.tooltip .tooltip3 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 46%;
    bottom: 14%;
    padding: 0.5em;
    width: 345px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip3 {
    visibility: visible;
}
.tooltip .tooltip4 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 20%;
    bottom: 64%;
    padding: 0.5em;
    width: 350px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip4 {
    visibility: visible;
}
.tooltip .tooltip5 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 15%;
    bottom: 30%;
    padding: 0.5em;
    width: 350px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip5 {
    visibility: visible;
}
.tooltip .tooltip6 {
    z-index: 2;
    visibility: hidden;
    position: absolute;
    left: 36%;
    bottom: 23%;
    padding: 0.5em;
    width: 350px;
    line-height: 18px;
    color: brown;
    box-shadow: 5px 10px brown;
    text-align: center;
    border: 1px solid brown;
    background-color: LightGrey;
}
.tooltip:hover .tooltip6 {
    visibility: visible;
}

#opcoes {
    width: 90%;
    margin: auto;
    scroll-snap-stop: always;
    scroll-snap-align: start;
}
.opcao{
    width: 100%;
}
